
            <div class="container-fluid">
                <!-- Page Heading -->
                <%= render :partial => "/admin/page_heading" %>
                <!-- /.row -->
                <div class="row">
                    <!-- <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                        </div>
                    </div> -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <%= render :partial => "/admin/dashboardblocks.html.erb" %>
                </div>
                <!-- /.row -->
                <div class="row">
                       <%= render :partial => "/admin/areachart.html.erb" %>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4">
                        <%= render :partial => "/admin/donutcart.html.erb" %>
                    </div>
                    <div class="col-lg-4">
                     <%= render :partial => "/admin/taskpanel.html.erb" %>
                    </div>
                    <div class="col-lg-4">
                        <%= render :partial => "/admin/transactionspanel.html.erb" %>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->