              <% @admin_products.each do |product| %>
						 <div class="col-md-3 fashion-grid fashion-grid1 oo" >
							 <a id ="img123" href="<%=product_path(product)%>"><p></p><%= image_tag product.avatar.url(:normal) %>
								 <div class="product" id = <%= product.name%>>
									 <h3><%= product.name%></h3>
									 <p><span></span> <%= product.price %>&euro;</p>								 </div>
							 </a>
							<!--  <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div> -->
						 </div>
						 <% end %>
						 <div class="clearfix"></div>