
	<!-- header -->
	<!-- //header -->
	<!-- single -->
	<div class="single">
		<!-- container -->
		<div class="container">
			<div class="single-grids">
				<div class="col-md-9">
					<div class="single-left-left">
						<ul id="etalage" class="etalage" style="display: block; width: 300px; height: 533px;">
							<li class="etalage_thumb thumb_1" style="display: none; opacity: 0; background-image: none;">
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="/assets/d1.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
									<img class="etalage_source_image" src="/assets/d1.jpg" title="">
								</a>
							</li>
							<li class="etalage_thumb thumb_2" style="display: none; opacity: 0; background-image: none;">
								<img class="etalage_thumb_image" src="/assets/d2.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
								<img class="etalage_source_image" src="/assets/d2.jpg" title="">
							</li>
							<li class="etalage_thumb thumb_3" style="display: none; opacity: 0; background-image: none;">
								<img class="etalage_thumb_image" src="/assets/d3.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
								<img class="etalage_source_image" src="/assets/d3.jpg">
							</li>
						    <li class="etalage_thumb thumb_4 etalage_thumb_active" style="display: list-item; opacity: 1; background-image: none;">
								<img class="etalage_thumb_image" src="<%= @product.avatar.url(:original)%>" style="display: inline; width: 300px; height: 400px; opacity: 1;">
								<img class="etalage_source_image" src="<%= @product.avatar.url(:original)%>">
							</li>
						 <div class="clearfix"></div>		
					</div>
					<div class="single-left-right">
						<div class="single-left-info">
							<h3><%= @product.name %></h3>
							
							<p><span style="color:#000;">PRICE:</span>$<%= @product.price %></p>

						</div>
						<div class="select-size">
							
							<div class="buy-now">
								<a href="#">BYE NOW</a>
							</div>
							<div class="wishlist">
								<!-- pop-up-box -->
								
								<!--//pop-up-box -->
								<div id="small-dialog2" class="mfp-hide">
									<h3>Create Account</h3> 
									<div class="social-sits">
										<ul>
											<li><a class="fb" href="#">Connect with Facebook</a></li>
											<li><a class="fb google" href="#">Connect with Google</a></li>
										</ul>
									</div>
									<div class="signup">
										<form>
											<input type="text" class="email" placeholder="Email" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" />
											<input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
											<input type="text" class="email" placeholder="Mobile Number" maxlength="10" pattern="[1-9]{1}\d{9}" title="Enter a valid mobile number" />
											<input type="submit"  value="Sign In"/>
										</form>
									</div>
									<div class="clearfix"> </div>
								</div>	
								
							</div>
							<div class="clearfix"> </div>
							<div class="delivery">
								
								
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="product-details">
						<h3>PRODUCT DETAILS</h3>
						<p><%= @product.description %>
						</p>
					</div>
					<div class="related">
						<h3>RELATED PRODUCTS</h3>
						<div class="related-grids">
							<div class="related-grid">
								<div class="col-md-9 related-left">
									<div class="col-md-3 related-left-left">
										<img src="/assets/c1.jpg" alt="" />
									</div>
									<div class="col-md-9 related-left-right">
										<h5>Product Name</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a est at leo dictum 
											pharetra vel sit amet tellus.
										</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-3 related-right">
									<p>$ 19</p>
									<a href="#">Add to cart</a>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="related-grid">
								<div class="col-md-9 related-left">
									<div class="col-md-3 related-left-left">
										<img src="/assets/c2.jpg" alt="" />
									</div>
									<div class="col-md-9 related-left-right">
										<h5>Product Name</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a est at leo dictum 
											pharetra vel sit amet tellus.
										</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-3 related-right">
									<p>$ 19</p>
									<a href="#">Add to cart</a>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="related-grid">
								<div class="col-md-9 related-left">
									<div class="col-md-3 related-left-left">
										<img src="/assets/c3.jpg" alt="" />
									</div>
									<div class="col-md-9 related-left-right">
										<h5>Product Name</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a est at leo dictum 
											pharetra vel sit amet tellus.
										</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-3 related-right">
									<p>$ 19</p>
									<a href="#">Add to cart</a>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 side-bar">
					<div class="categories">
						<h3>CATEGORIES</h3>
						<ul>
							<li><a href="#">Chair</a></li>
							<li><a href="#">Bed</a></li>
							<li><a href="#">Bean Bag</a></li>
							<li><a href="#">Mattress</a></li>
							<li><a href="#">Another Product</a></li>
							<li><a href="#">Product Name</a></li>
							<li><a href="#">Product 2</a></li>
							<li><a href="#">Product 3</a></li>
							<li><a href="#">Product 4</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //single -->
	<!-- footer -->

	<!-- //footer -->